<div class="wrapper">
  <div class="bg-img_container">
    <div class="opacity-block"></div>
    <div class="bg_img"></div>
  </div>
  <div class="container">
    <header class="header">
      <button class="burger">
        <svg
          width="32"
          height="32"
          viewBox="0 0 32 32"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M5 16H27"
            stroke="black"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
          <path
            d="M5 8H27"
            stroke="black"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
          <path
            d="M5 24H27"
            stroke="black"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>
      </button>
      <nav class="nav">
        <ul>
          <li><a href="#">Solution and Services</a></li>
          <li><a href="#">Products</a></li>
          <li><a href="#">Technologies</a></li>
          <li><a href="#">Human Resources</a></li>
          <li><a href="#">Institutional</a></li>
        </ul>

        <button type="button" class="button-contact">Contact</button>
      </nav>
    </header>
    <div class="content">
      <div class="title">
        23 Years of Experience In Information Technologies
      </div>
      <div class="subtitle">
        We provide Project Management, Business Analysis and Test Management
        services with our expert staff who have gained experience in different
        sectors so that our customers can maintain their high quality levels.
      </div>

      <div class="input">
        <input
          type="email"
          class="contact-info"
          placeholder="Sign up for our e-mail newsletter"
          required
        />
        <button type="submit" class="btn-reg">Register</button>
      </div>
    </div>
  </div>
</div>
