@import "variables";

:host {
  position: relative;
  display: block;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.back {
  background-color: #f84646;
}

.back-img {
  display: none;
  background-image: url("/assets/img/providing-background.png");
  opacity: 0.1;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;

  @media (min-width: $md) {
    display: block;
  }
}

.container {
  display: flex;
  flex-direction: column;
  padding-top: 50px;
  margin: 0 auto;
  width: 310px;
  color: white;
  text-align: center;

  @media (min-width: $md) {
    width: 926px;
  }

  @media (min-width: $lg) {
    width: 1103px;
    height: 230px;
  }
}

.title {
  font-weight: 800;
  font-size: 36px;
  line-height: 47px;

  @media (min-width: $md) {
    font-size: 48px;
    line-height: 64px;
  }
}

.description {
  font-weight: 400;
  font-size: 14px;
  line-height: 32px;

  @media (min-width: $md) {
    font-size: 18px;
  }
}

.content-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 565px;
  width: 183px;
  margin: 55px auto;
  :nth-child(7) {
    margin-bottom: 0;
  }

  @media (min-width: $md) {
    display: flex;
    flex-direction: row;
    align-items: unset;
    width: 906px;
    height: 44px;
  }

  @media (min-width: $lg) {
    align-items: center;
    height: 62px;
    width: 100%;
    :nth-child(7) {
      margin-right: 0;
    }
  }
}

.text {
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  margin-bottom: 40px;

  @media (min-width: $md) {
    font-size: 14px;
    line-height: 22px;
    margin: 0 35px 0 0;
    text-align: left;
  }

  @media (min-width: $lg) {
    font-size: 18px;
    line-height: 31px;
  }
}

.arrows {
  width: 36px;
  height: 36px;
  margin-bottom: 40px;

  @media (min-width: $md) {
    margin-bottom: 0;
    margin-right: 35px;
    transform: rotate(-90deg);
  }

  @media (min-width: $lg) {
    margin-right: 45px;
  }
}
