<div class="overlay back"></div>
<div class="overlay back-img"></div>

<div class="container">
  <div class="title">What Do We Provide?</div>
  <div class="description">IoT Supported Solutions</div>
  <div class="content-container">
    <div class="text">We increase Software Quality</div>
    <div class="arrows">
      <ng-container [ngTemplateOutlet]="arrowIcon"></ng-container>
    </div>
    <div class="text">We Predict Possible Errors</div>
    <div class="arrows">
      <ng-container [ngTemplateOutlet]="arrowIcon"></ng-container>
    </div>
    <div class="text">We Prevent Possible Risks</div>
    <div class="arrows">
      <ng-container [ngTemplateOutlet]="arrowIcon"></ng-container>
    </div>
    <div class="text">We Save Time and Cost</div>
  </div>
</div>

<ng-template #arrowIcon>
  <svg
    width="36"
    height="36"
    viewBox="0 0 36 36"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      d="M4.5 18C4.5 25.4558 10.5442 31.5 18 31.5C25.4558 31.5 31.5 25.4558 31.5 18C31.5 10.5442 25.4558 4.5 18 4.5C10.5442 4.5 4.5 10.5442 4.5 18Z"
      stroke="white"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
    />
    <path
      d="M13.5 12.375L18 16.875L22.5 12.375"
      stroke="white"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
    />
    <path
      d="M13.5 20.25L18 24.75L22.5 20.25"
      stroke="white"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
    />
  </svg>
</ng-template>
