<div class="wrapper">
  <div class="container">
    <div class="box box1">
      <div class="img-container">
        <div class="img img1"></div>
      </div>
      <div class="text">
        <div class="title">Quality and Process Management</div>
        <div class="subtitle">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad
          asperiores cupiditate esse et, eum eveniet fugiat illum itaque iusto
          laudantium magnam natus nostrum pariatur praesentium quasi quibusdam
          repellat, sit suscipit veritatis voluptates.
        </div>
        <button class="discover-btn">Discover</button>
      </div>
    </div>
    <div class="box box2">
      <div class="img-container">
        <div class="img img2 img3"></div>
      </div>
      <div class="text">
        <div class="title">Quality and Process Management</div>
        <div class="subtitle">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad
          asperiores cupiditate esse et, eum eveniet fugiat illum itaque iusto
          laudantium magnam natus nostrum pariatur praesentium quasi quibusdam
          repellat, sit suscipit veritatis voluptates.
        </div>
        <button class="discover-btn">Discover</button>
      </div>
    </div>
  </div>
</div>
