<div class="wrapper">
  <div class="container">
    <div class="title">Our references</div>
    <div class="subtitle">Our business partners who trust and work with us</div>
    <div class="ref-container">
      <div class="row row1">
        <a href="#"
          ><div class="box">
            <img src="assets/svg/borusan.svg" alt="borusan" /></div
        ></a>
      </div>
      <div class="row row2">
        <a href="#"
          ><div class="box">
            <img src="assets/svg/istanbul.svg" alt="Istanbul" /></div
        ></a>
        <a href="#"
          ><div class="box">
            <img src="assets/svg/book.svg" alt="BookMyTicket" /></div
        ></a>
      </div>
      <div class="row row3">
        <a href="#"
          ><div class="box"><img src="assets/svg/akban.svg" alt="akban" /></div
        ></a>
        <a href="#"
          ><div class="box"><img src="assets/svg/akcan.svg" alt="akcan" /></div
        ></a>
        <a href="#"
          ><div class="box">
            <img src="assets/svg/tumunu.svg" alt="tumunu" /></div
        ></a>
      </div>
      <div class="row row4">
        <a href="#"
          ><div class="box"><img src="assets/svg/aktas.svg" alt="aktas" /></div
        ></a>
        <a href="#"
          ><div class="box"><img src="assets/svg/ola.svg" alt="ola" /></div
        ></a>
      </div>
      <div class="row row5">
        <a href="#"
          ><div class="box">
            <img src="assets/svg/amazon.svg" alt="amazon logo" /></div
        ></a>
      </div>
    </div>
  </div>
</div>
